/.metadata/
javaWorkspace/.metadata/
*.classpath
*.project
javaWorkspace/groupChat/.settings/
.settings
*.zip
jdbcWorkspace/.metadata/
*.class
setup/
wasRepo/Servers/
*.gitignore
soloRepo/
*.xml
wasRepo/webPrj99semi/.metadata/
webPrj21ajax/src/main/webapp/META-INF/
webPrj19upload/src/main/webapp/META-INF/
springRepo/Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
*.policy
*.springBeans
*.MF
springRepo/springPrj01/target/
springRepo/springPrj02/target/m2e-wtp/web-resources/META-INF/maven/com.kh/app/pom.properties
