/.metadata/
javaWorkspace/.metadata/
*.classpath
*.project
javaWorkspace/groupChat/.settings/
.settings
*.zip
jdbcWorkspace/.metadata/
*.class
setup/
wasRepo/Servers/
*.gitignore
soloRepo/
*.xml
wasRepo/webPrj99semi/.metadata/
