@charset "utf-8";

.box {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

#t01:hover {
    transform: translate(50px, 100px);
    transform: scale(2);
    transform: rotate(45deg);
    transform: skew(30deg);
    transform: rotate3d()
}