.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kh {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ddd;
  display: grid;
  grid-template-rows: 20vh 10vh 60vh 10vh;
  grid-template-columns: 1fr;
}
.bookListWrap {
  padding: 0 20px;
}
.bookListWrap table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #333;
  border-collapse: collapse;
}
.bookListWrap table tr td,
.bookListWrap table tr th {
  font-size: 14px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
}